{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('login.css') }}">
{% endblock %}
{% block body %}
    <section class="landing">
        <div class="center">
            <form method="post">
                {% if error %}
                    <div class="text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="text main-text">Zaloguj się do panelu</h1>
                <label class="text d-block" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="d-block" required autofocus>
                <label class="text d-block" for="inputPassword">Hasło</label>
                <input type="password" name="password" id="inputPassword" class="d-block" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="center">
                    <button class="btn outline-button" type="submit">
                        Zaloguj
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
